@import "./node_modules/common-web-styles/common";
@import "./node_modules/prismjs/themes/prism-dark.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#repo-link {
  text-align: left;
  margin-top: 2vh;
}

#input-row {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#finished-state {
  #animation-wrapper {
    min-height: 4vh;
    margin-left: 2vw;

    #typing-animation-box {
      display: inline-block;
      height: auto;
      font-size: large;

      animation-duration: 3s;
      animation-name: blinking-cursor;
      animation-iteration-count: infinite;
    }
  }

  pre.language-css {
    background-color: #161616 !important;
    border: 1px solid #333333 !important;
  }
}

@keyframes blinking-cursor {
  0% {
    border-right: 1px solid white;
  }

  49.9% {
    border-right: 1px solid white;
  }
  50% {
    border-right: 1px solid transparent;
  }

  100% {
    border-right: 1px solid transparent;
  }
}
